<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header') %>
  <title><%= username %>'s Profile</title>
</head>
<body>
  <h1>Welcome, <%= username %>!</h1>
  <p>Member since: <%= joinDate %></p>

  <!-- Local Image -->
  <img src="https://media.istockphoto.com/id/1125089587/photo/cat-in-glasses-holding-a-turquoise-book-and-strictly-looks-into-the-camera-concept-of.jpg?s=1024x1024&w=is&k=20&c=0LDey1qf30Wieu8PkECkYMOAhcG6-Y5EN-uSMnSo690=">

  <%- include('../partials/footer') %>
</body>
</html>